* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

header {
    background-color: #bfc0c0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0px;

}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 20px 0px;
}

h2 {
    padding: 10px 0px 0px 0px;
}

p {
    padding: 10px;
}

.btn {
    font-size: 36px;
    color: white;
    padding: 20px;
    margin: 10px;
    background-color: #ef8354;
}

.box-quizz, .result-wrong, .result-right {
    text-align: center;
}

.box-quizz {
    width: 30%;
    align-self: center;
    padding: 1em;
    margin: 0.5em;
    border: solid 0.2em #2d3142;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.box-answer {
    padding: 1em;
    margin: 0.5em;
    border: dotted 0.2em #2d3142; 
    width: 80%;
}

.img-question, .img-answer {
    width: 80%;
}

.subscribe {
    display: flex;
    padding: 10px;
}

h4 {
    padding: 5px 10px;
}

.box-email {
    border: solid #bfc0c0 0.1px;
    padding: 5px;
}

.btn-email {
    padding: 5px;
    margin-left: 10px;
}

footer {
    background-color: #bfc0c0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.before-click, .result-right, .result-wrong {
    display: none;
}

.result-right, .result-wrong {
    border: solid 0.2em #ef8354;
    width: 30%;;
}

.img-answer {
    padding: 1em;
    margin: 0.5em;
}

.answer-clicked {
    background-color: red;
}

.final-score {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.box-result {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}